{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
{% block content %}
    <h1>Login saxifasiga xush kelibsiz!</h1>

    <p>
        <form method="post">
            {% csrf_token %}
            {{ login_form.as_p }}
            <button>Login</button>
        </form>
    </p>
    {% endblock %}
</body>
</html>