<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p{
            mask-image: -webkit-image-set();    
        }
    </style>
</head>
<body>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur voluptatibus impedit id laboriosam numquam animi eum asperiores, ratione sapiente. Ducimus, reiciendis deleniti eaque iure nisi ipsum inventore. Optio, ipsum eum.</p>
</body>
</html>